<!DOCTYPE html>
<html lang="en">
  <head>
      <%= csrf_meta_tags %>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, user-scalable=no">
      <title>Rails E-commerce with payment</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' >
  </head>
  <body>
    <div id="content" class="container">
      <header id="content-header">
          <div id="price-container">
            <span class="glyphicon glyphicon-tag"></span><span class="price">$9.99</span>
          </div>
          <%= image_tag "header-image.jpg", id: "content-header-img", alt: "Rails Ecom header image" %>
      </header>
      <%= yield %>
    </div>
    <footer id="site-footer">
    Made by <a href="https://ciptohadi.web.id" target="_blank"><p>Cipto Hadi</p></a>
    </footer>
  </body>
</html>
